/* variables */
:root {
  --cg-black: rgb(30, 32, 32);
  --cg-blue: rgb(36, 94, 255);
  --cg-grey: rgb(243, 243, 243);
  --cg-white: rgb(255, 255, 255);
}

html {
  height: 100%;
}

body {
  background: var(--cg-grey);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: monospace;
  height: 100%;
}

.about_me {
  background-color: aquamarine;
  padding-left: 5px;
  padding-right: 5px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* CSS for navigation */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--cg-black);
  color: var(--cg-white);
  padding: 0px 0px;
}

.navbar li {
  display: inline;
}
.logo {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
  justify-content: left;
}

.nav-list li {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;

  font-family: monospace;
}

.navbar a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

.navbar a:active {
  color: var(--cg-blue);
}

.logo a {
  font-family: Georgia;
}

.logo a:hover {
  text-decoration: None;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia;
}

.project {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 1em 0 2em 0;
}

.item-link {
  width: 70%;
}

.project-image {
  object-fit: cover;
  width: 100%;
  height: 500px;
  flex-basis: 50px;
  flex-grow: 2;
}

.project-details {
  display: flex;
  background-color: var(--cg-white);
  width: 30%;
  height: 500px;
  flex-shrink: 1;
  padding: 0 20px;
  margin: 0px;
  line-height: 1.5;
  overflow: scroll;

  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.website_image {
  width: 550px;
  border: double 5px black;
}

.project-details a {
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.project-details a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

.project-details {
  font-weight: lighter;
}

.project-name {
  font-weight: bold;
  font-size: 20px;
}


.about_me {
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #8d8d8d;
  border: 5px double #000000;
  border-radius: 5px;
  height: 500px;
  width: 1200px;
}

.image {
  border: double black;
  border-radius: 10px;
  border-width: 10px;
}

.about-text {
  flex: 1;
  margin-left: 20px;
}

.container {
  display: flex;
  gap: 30px;
}

.about_me_text {
  border-style: double;
  border-radius: 20px;
  border-width: 10px;
  padding: 10px;
  font-size: large;
  background-color: rgb(185, 185, 185);
  line-height: 27px;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
}

.button {
  background-color: var(--cg-black);
  border: none;
  color: var(--cg-white);

  font-family: monospace;

  padding: 5px 7px;
  text-align: center;

  border-radius: 2px;
}

.button:hover {
  background-color: var(--cg-blue);
}

.resume h2 {
  font-family: Georgia;
}

label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

form {
  width: 500px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cg-black);
  color: var(--cg-white);
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  margin-top: auto;
  padding: 1rem;
}

.DailyGoal {
  flex: 1;
  border: 7px;
  border-style: double;
  padding: 10px;
  margin: 10px;
  height: 210px;
  background-color: #acacac;
}
.Personal_Website {
  flex: 1;
  border: 7px;
  border-style: double;
  padding: 10px;
  margin: 10px;
  background-color: #acacac;
}

.contact {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

.contact_me {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 50px;
  border: double 5px black;
  border-radius: 5px;
  background-color: #8d8d8d;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  display: flex;
  gap: 20px;
}
.linkedin {
  flex: 1;
  color: inherit;
  text-decoration: none;
  padding: 5px;
  border: double 5px black;
  border-radius: 5px;
  background-color: #c6c6c6;
}

.email {
  flex: 1;
  color: inherit;
  text-decoration: none;
  padding: 5px;
  border: double 5px black;
  border-radius: 5px;
  background-color: #c6c6c6;
}

.linkedin:hover {
  background-color: #919191;
}

.projects {
  display: flex;
}

.More_Projects {
  position: static;
  margin-top: 20px;
  top: 100px;
}

.blog {
  margin-top: 100px;
}

.section {
  align-content: left;
  width: 50%;
}

.experience h4 {
  margin: 0px;
  margin-bottom: 5px;
}

.coursework {
  padding-left: 10px;
  margin-left: 0px;
  list-style-type: none;
}

.coursework li::before {
  content: "-";
  position: absolute;
  left: 0;
}

.coursework li {
  position: relative;
  padding-left: 20px;
}

ul li {
  padding: 10px;
}

.portfolio {
  padding-left: 10px;
  margin-left: 0px;
  list-style-type: none;
}

.portfolio li::before {
  content: "-";
  position: absolute;
  left: 0;
}

.portfolio li {
  position: relative;
  padding-left: 20px;
}

#experience {
  padding-left: 2px;
  margin-left: 0px;
  list-style-type: none;
}

.experience h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.experience h5 {
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#experience li::before {
  content: "-";
  position: absolute;
  left: 0;
}

#experience li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1.25;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
h4 {
  font-size: larger;
}
h5 {
  font-size: medium;
}

.experience_heading {
  padding-bottom: 0px;
}

.download_button {
  background-color: gray;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border-style: double;
  border-width: 3px;
  transition: background-color 0.3s;
}
.download_button:hover {
  background-color: rgb(78, 78, 78);
}

.download {
  padding-top: 20px;
}

.skills {
  background-color: gray;
  padding: 10px;
  padding-top: 3px;
  border-color: black;
  border-style: double;
  border-radius: 5px;
  border-width: 5px;
  margin: 10px;
}
.education {
  background-color: gray;
  padding: 10px;
  padding-top: 3px;
  border-color: black;
  border-style: double;
  border-radius: 5px;
  border-width: 5px;
  margin: 10px;
  transition: background-color 0.3s;
}
.Coursework {
  background-color: gray;
  padding: 10px;
  padding-top: 3px;
  border-color: black;
  border-style: double;
  border-radius: 5px;
  border-width: 5px;
  margin: 10px;
}
.Portfolio {
  background-color: gray;
  margin-top: 1px;
  padding: 10px;
  padding-top: 0px;
  border-color: black;
  border-style: double;
  border-radius: 5px;
  border-width: 5px;
  margin: 10px;
  transition: background-color 0.3s;
}
.Experience {
  background-color: gray;
  padding: 10px;
  padding-top: 3px;
  border-color: black;
  border-style: double;
  border-radius: 5px;
  border-width: 5px;
  margin: 10px;
}
.portfolio {
  color: inherit;
  text-decoration: none;
}

.Portfolio:hover {
  background-color: rgb(78, 78, 78);
}

.education:hover {
  background-color: rgb(78, 78, 78);
}

.Education {
  color: inherit;
  text-decoration: none;
}

.slider {
  margin-left: 200px;
}
#blog-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.blog_content {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog_header {
  display: block;
  width: 80%;
  text-align: center;
  padding-bottom: 50px;
  margin: 0 auto;
  padding-top: 25px;
}

.blog_description {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  font-size: 150%;
  border:  5px black;
}

.blog_description a {
  text-align: center;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center; /* Center text inside the content */
}

.blog_image_preview {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: double grey;
}

.blog_link {
  display: block; /* Ensure block-level */
  margin: 20px auto; /* Center horizontally with margin */
  background-color: #248227; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px 20px; /* Padding around the text */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
  text-align: center; /* Ensure the text inside is centered */
  width: 13%; /* Auto width based on content */
}

/* Hover Effect */
.blog_link:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Active Effect */
.blog_link:active {
  background-color: #3e8e41; /* Even darker green when pressed */
  transform: scale(0.95); /* Slightly shrink the button */
}
